<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol id="icon-logo" viewBox="0 0 537 52">
<title>
  logo
</title>
<defs>
  <linearGradient x1="473.51%" y1="52.9%" x2="31.24%" y2="49.67%" id="a">
    <stop stop-color="#1DB7BF" offset="0%"/>
    <stop stop-color="#3FE183" offset="100%"/>
  </linearGradient>
  <linearGradient x1="809.59%" y1="52.65%" x2="-157.9%" y2="49.28%" id="b">
    <stop stop-color="#1DB7BF" offset="0%"/>
    <stop stop-color="#3FE183" offset="100%"/>
  </linearGradient>
  <linearGradient x1="669.85%" y1="52.25%" x2="-249.18%" y2="48.88%" id="c">
    <stop stop-color="#1DB7BF" offset="0%"/>
    <stop stop-color="#3FE183" offset="100%"/>
  </linearGradient>
  <linearGradient x1="508.54%" y1="51.73%" x2="-338.01%" y2="48.51%" id="d">
    <stop stop-color="#1DB7BF" offset="0%"/>
    <stop stop-color="#3FE183" offset="100%"/>
  </linearGradient>
  <linearGradient x1="411.09%" y1="51.52%" x2="-436.72%" y2="48.15%" id="e">
    <stop stop-color="#1DB7BF" offset="0%"/>
    <stop stop-color="#3FE183" offset="100%"/>
  </linearGradient>
  <linearGradient x1="353.47%" y1="51.06%" x2="-614%" y2="47.69%" id="f">
    <stop stop-color="#1DB7BF" offset="0%"/>
    <stop stop-color="#3FE183" offset="100%"/>
  </linearGradient>
  <linearGradient x1="252.81%" y1="50.71%" x2="-714.72%" y2="47.34%" id="g">
    <stop stop-color="#1DB7BF" offset="0%"/>
    <stop stop-color="#3FE183" offset="100%"/>
  </linearGradient>
  <linearGradient x1="117.87%" y1="50.4%" x2="-632.64%" y2="47.03%" id="h">
    <stop stop-color="#1DB7BF" offset="0%"/>
    <stop stop-color="#3FE183" offset="100%"/>
  </linearGradient>
</defs>
<g fill="none">
  <path d="M59.26 17.9c1.1-1.18 2.37-2.1 3.8-2.73 1.46-.65 2.96-.97 4.52-.97 2 0 3.65.35 4.92 1.07 1.27.7 2.28 1.64 3.04 2.8L85.96 7.12c-1.7-2.05-4.14-3.66-7.35-4.84C75.4 1.1 71.8.5 67.7.5c-.44 0-.88.02-1.32.04H0s45.3 6.6 41.6 17.66c-1.4 3.52-2.08 7.3-2.08 11.36 0 3.34.56 6.3 1.7 8.9 1.14 2.62 2.74 4.8 4.8 6.6 2.08 1.77 4.57 3.12 7.46 4.03 2.9.9 6.13 1.3 9.7 1.3 3.47 0 6.75-.5 9.85-1.4 3.1-.9 5.87-2.1 8.32-3.4l4.55-25.8H64.44L62.3 32.2h7.76l-.74 4.12c-.5.22-1.12.4-1.9.53-.78.13-1.55.2-2.3.2-3.3 0-5.7-.87-7.23-2.58-1.6-1.7-2.3-3.9-2.3-6.5 0-2.15.3-4.07 1-5.76.6-1.6 1.5-3.1 2.6-4.3z" fill="url(#a)" transform="translate(0 1.073)"/>
  <path fill="url(#b)" d="M88.9 49.37h32.88l2.28-12.88h-18.32l.87-5.4h15.7l2.2-11.8h-15.7l.8-4.9H126l2.27-12.9h-31" transform="translate(0 1.073)"/>
  <path fill="url(#c)" d="M129.94 15.03h11.96l-6 34.34h15.5l6-34.34h11.57L171.3 1.6h-39" transform="translate(0 1.073)"/>
  <path d="M216.16 25.02c-1.1-1.12-2.46-2.1-4.06-2.94-1.6-.85-3.42-1.6-5.46-2.27-1.64-.5-2.88-1-3.73-1.5-.8-.5-1.2-1.2-1.2-2 0-1.1.5-1.9 1.5-2.4s2.2-.8 3.4-.8c1.6 0 3 .3 4.2.9 1.2.56 2.2 1.28 3 2.17l9.9-9.57c-.8-.9-1.9-1.7-3.1-2.4s-2.6-1.3-4.1-1.86c-1.4-.5-3-.9-4.7-1.2-1.6-.3-3.3-.42-5-.42-3.1 0-5.9.45-8.4 1.3-2.54.9-4.74 2.1-6.6 3.6-1.84 1.5-3.3 3.35-4.3 5.4-1 2.1-1.5 4.4-1.5 6.8 0 2 .3 3.7.97 5.1.6 1.4 1.47 2.6 2.56 3.6 1.1 1 2.38 1.9 3.87 2.6 1.5.7 3.1 1.36 4.8 1.9 2.13.66 3.6 1.3 4.37 1.9.75.6 1.14 1.34 1.14 2.14 0 1-.45 1.74-1.4 2.25-.92.5-2.2.76-3.73.76-.7 0-1.5-.1-2.3-.3-.87-.2-1.7-.47-2.5-.8-.86-.34-1.65-.75-2.4-1.24-.78-.5-1.4-1.04-1.96-1.66l-10.5 9.76c1.1 1 2.44 2 3.95 2.8 1.5.85 3.1 1.56 4.83 2.14 1.7.52 3.5 1 5.33 1.3 1.86.3 3.73.44 5.6.44 2.36 0 4.8-.3 7.27-.95 2.5-.6 4.8-1.6 6.87-2.94 2.07-1.33 3.77-3.06 5.1-5.2 1.3-2.14 2-4.7 2-7.75 0-1.8-.3-3.4-.9-4.8-.6-1.43-1.46-2.7-2.6-3.8z" fill="url(#d)" transform="translate(0 1.073)"/>
  <path d="M262.7 5.53c-3.23-2.54-7.9-3.92-14-3.92h-17.65l-8.35 47.8h15.37l2.8-15.5h4.55c3.48 0 6.57-.4 9.3-1.1 2.7-.7 5.03-1.8 6.94-3.2 1.92-1.4 3.38-3.2 4.38-5.5s1.5-4.9 1.5-7.9c0-4.4-1.6-8-4.84-10.5zm-12.33 15.44c-1.2.7-2.88 1.03-5 1.03h-2.5l1.48-8.05h2.34c1.7 0 3 .26 4 .8.9.53 1.4 1.48 1.4 2.9 0 1.52-.6 2.6-1.8 3.32z" fill="url(#e)" transform="translate(0 1.073)"/>
  <path fill="url(#f)" d="M303.3 36.5H285l.86-5.38h15.63l2.1-11.8H288l.8-4.83h16.37l2.27-12.9H276.5l-8.35 47.7h32.88" transform="translate(0 1.073)"/>
  <path fill="url(#g)" d="M342.86 36.5h-18.3l.86-5.38h15.64l2.14-11.8h-15.64l.8-4.83h16.38L347 1.6h-30.94l-8.35 47.77h32.9" transform="translate(0 1.073)"/>
  <path d="M380.62 47.35c3.52-1.27 6.57-3.14 9.16-5.48 2.58-2.33 4.6-5.2 6.05-8.57 1.45-3.37 2.17-7.13 2.17-11.27 0-3.65-.7-6.77-2.07-9.33-1.38-2.56-3.15-4.64-5.3-6.25-2.18-1.6-4.6-2.9-7.3-3.62-2.7-.73-5.38-1.22-8.05-1.22H355.7l-8.36 47.8h21.8c4.13 0 7.96-.7 11.48-2zm-12.16-32.32h4.14c1.6 0 3 .15 4.18.62 1.18.47 2.15 1.05 2.9 1.83.76.8 1.32 1.7 1.68 2.77.35 1.07.53 2.2.53 3.4 0 1.57-.3 3.07-.8 4.52-.5 1.45-1.3 2.74-2.3 3.88-1.1 1.14-2.3 2.12-3.8 2.8-1.6.7-3.3 1.1-5.3 1.1h-5l3.7-20.92z" fill="url(#h)" transform="translate(0 1.073)"/>
  <path fill="#FFF" d="M411.4 12.22l4.64 12 9.16-4.96-5.6 31.72h15.93l8.54-49.9H429.5m55.43 5.38c-1.53-1.77-3.53-3.2-6-4.32C476.46 1.04 473.4.5 469.8.5c-3.15 0-5.97.47-8.44 1.44-2.47.96-4.64 2.27-6.5 3.93-1.9 1.66-3.5 3.58-4.82 5.76-1.32 2.18-2.4 4.48-3.26 6.9-.84 2.4-1.46 4.86-1.85 7.34-.4 2.5-.58 4.88-.58 7.18s.33 4.56 1 6.8c.66 2.22 1.77 4.22 3.32 6 1.56 1.76 3.6 3.2 6.1 4.3 2.52 1.1 5.6 1.66 9.27 1.66 3.1 0 5.9-.4 8.33-1.4 2.45-.9 4.6-2.3 6.45-3.9 1.86-1.6 3.45-3.6 4.77-5.7 1.3-2.2 2.4-4.5 3.2-6.9.8-2.4 1.4-4.8 1.8-7.3.4-2.5.6-4.82.6-7.12 0-2.24-.4-4.5-1-6.75-.7-2.23-1.8-4.24-3.3-6zm-12.45 20.52c-.37 2.05-.92 3.92-1.65 5.6-.73 1.7-1.6 3.07-2.64 4.15-1.1 1.1-2.2 1.63-3.5 1.63-1.6 0-2.8-.7-3.6-2.1-.8-1.42-1.2-3.14-1.2-5.17 0-1.8.2-3.8.5-5.8.34-2 .9-3.9 1.62-5.7.75-1.8 1.64-3.2 2.7-4.3 1.03-1.1 2.22-1.7 3.55-1.7 1.66 0 2.8.7 3.5 2.1.7 1.4 1.04 3.1 1.04 5.1 0 1.9-.2 3.9-.55 5.92zm63.4-14.48c-.67-2.26-1.77-4.27-3.3-6.04-1.54-1.77-3.54-3.2-6-4.32-2.48-1.1-5.5-1.65-9.13-1.65-3.16 0-5.97.4-8.44 1.4-2.4.9-4.6 2.2-6.5 3.9-1.8 1.6-3.4 3.6-4.8 5.7-1.3 2.2-2.4 4.5-3.2 6.9-.8 2.4-1.4 4.8-1.8 7.3-.4 2.5-.6 4.9-.6 7.2s.4 4.5 1 6.8c.7 2.2 1.8 4.2 3.4 6 1.6 1.7 3.6 3.2 6.1 4.3 2.5 1.1 5.6 1.6 9.3 1.6 3.1 0 5.9-.5 8.3-1.48 2.48-1 4.6-2.3 6.48-3.95 1.85-1.66 3.44-3.58 4.77-5.76 1.3-2.17 2.4-4.47 3.2-6.9.8-2.4 1.4-4.85 1.8-7.34.4-2.5.6-4.88.6-7.18 0-2.28-.35-4.5-1-6.8zM520.1 26.98c-.36 2.05-.9 3.92-1.64 5.6-.73 1.7-1.6 3.07-2.64 4.15-1.03 1.1-2.2 1.63-3.47 1.63-1.6 0-2.78-.7-3.53-2.1-.76-1.42-1.13-3.14-1.13-5.17 0-1.8.2-3.8.5-5.8s.9-3.9 1.6-5.7c.7-1.8 1.6-3.2 2.7-4.3 1-1.1 2.2-1.7 3.5-1.7 1.6 0 2.8.7 3.5 2.1.7 1.4 1 3.1 1 5.1 0 1.9-.2 3.9-.6 5.92z"/>
</g>
</symbol>
</defs>
</svg>
