{{ blok._editable }}
<div class="theme-list">
  <div class="container container--small">
    <h2>
      ssss
    </h2>
  </div>
  <div class="theme-list__items">
    <div class="theme-list__item">
      <img src="https://a.storyblok.com/f/39898/x/de278d4a1a/storyblok_commerce_rect.png">
      <div>
        <a href="#" data-theme="40810">Install</a>
      </div>
    </div>

    <a href="#openModal">Open Modal</a>

    <div id="openModal" class="modal">
      <div>
        <a href="#close" title="Close" class="modal__close">X</a>
        <h2>Login</h2>
        <form data-login>
          <label class="form__label" for="login_email">Email</label>
          <input id="login_email" type="email" name="email" class="form__input" />

          <label class="form__label" for="login_password">Password</label>
          <input id="login_password" type="password" name="password" class="form__input" />

          <div class="form__actions">
            <button class="btn" type="submit">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
